

<p><%= "My name is Roberto Vazquez and i\'m and economics undergraduate in Universidad Anahuac Mexico City" %></p>

<p>Some of my favorite movies are:</p>


<div id="favmovies"><ul>
<% ["star wars", "lord of the rings", "matrix"].each do |movie| %>
<li><%= movie %></li>
<% end %>
</ul></div>

<p>A short description of my favorite bands:</p>


<div id="bands"><ul>
<% ["the killers", "the strokes", "franz ferdinand", "muse"].each do |band| %>
<li><%= band %></li>
<% end %>
</ul></div>
